@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../assets/Font/Montserrat/Montserrat-SemiBold.ttf);
}
.form-select{
    padding: 10px;
    border: 2px solid #c08558; 
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}
.filter{
    color: #80471C;
}